@use 'variables';
@use 'typography';


#descriptionSelection{
    padding: 50px;
    background-color: variables.$color-grey2;
}

.descriptionCardBody__bg{
    background-color: variables.$color-black;
    color: variables.$color-grey2;
}

.descriptionCard__img{
    height: 100px;
}

.descriptionProject__img{
    border-radius: 5px;
}

.descriptionCard__border {
    border: none;
}

.descriptionCard__title {
    font-size: 20px;
    color: variables.$color-black;
}

.descriptionCard {
    background-color: variables.$color-grey2;
    color: variables.$color-black;
}
