@use 'variables';


%menuNavlink {
    text-decoration: none;
    font-size: 23px;
	font-weight: 500;
    font-family: variables.$font-fam2;
    padding: 10px;
    color: variables.$color-black;
}

%menuNavlinkhover {
    text-decoration: underline;
}

%buttonPrimary {
	background-color: variables.$color-blue2;
    color: variables.$color-grey2;
    font-weight: bold;
    font-size: 23px;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
	&:hover{
		background-color: #0f4a9b;
		color: variables.$color-grey2;
		border-color: #0f4a9b;
	}
}

%linkCard {
    text-decoration: none;
	color: variables.$color-blue2;
    font-size: 25px;
    font-weight: 600;
	&:hover{
		color: #0f4a9b;
		text-decoration: none;
	}
}

