@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Fasthand&family=Karla:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Fasthand&display=swap');

$color-degrade:linear-gradient(45deg, #5c96ed 5%, #dae8fe 60%);
$color-degrade2:linear-gradient(#495560,#c1d7ff 77%, white);


$color-black:rgb(222, 189, 189);
$color-white:white;
$color-blue:#329faa;
$color-blue2:#2474d7;
$color-blue3:#c8e3e6;
$color-grey:#edeff3;
$color-grey2:black;
$color-grey3:#aeafb1;
$color-red:#edd88b;

$font-fam1: 'Karla', sans-serif;
$font-fam2: 'Karla', sans-serif;

$background-1 : url('../img/background-img.jpg');

